.tHwog { color: #405993; font-size: 15px; }
.BJsxQ { color: #f7c3db; font-size: 16px; }
.GPqbA { color: #4abc26; font-size: 21px; }
.CTFoT { color: #15a574; font-size: 17px; }
.oYXPu { color: #9b9803; font-size: 28px; }