.bHDGN { color: #b55f31; font-size: 25px; }
.dNVhw { color: #54c3ce; font-size: 26px; }
.Ydars { color: #b10edc; font-size: 25px; }
.YtcHR { color: #7be744; font-size: 17px; }
.BiPMG { color: #8f838d; font-size: 26px; }