.yKkAR { color: #1448a0; font-size: 21px; }
.smxNA { color: #349ed7; font-size: 14px; }
.khLCX { color: #46229b; font-size: 29px; }
.sYObD { color: #00ab55; font-size: 22px; }
.xoZdr { color: #558e71; font-size: 27px; }