.AbDeR { color: #be1add; font-size: 27px; }
.dnoXa { color: #dddde3; font-size: 22px; }
.fDSQC { color: #240762; font-size: 10px; }
.kZbKg { color: #1fdb32; font-size: 20px; }
.PipnA { color: #a26268; font-size: 22px; }