.zikuv { color: #14178a; font-size: 13px; }
.wupSJ { color: #63543b; font-size: 25px; }
.tnEjc { color: #13854e; font-size: 16px; }
.DHUwj { color: #d71764; font-size: 10px; }
.hXkTC { color: #303b29; font-size: 21px; }