.qEjqV { color: #7043d9; font-size: 24px; }
.eSmYm { color: #4b924f; font-size: 15px; }
.MbCEB { color: #98d878; font-size: 24px; }
.WFtbF { color: #69fbd8; font-size: 17px; }
.ZBSZh { color: #aaf170; font-size: 18px; }