.tiNeU { color: #52e62c; font-size: 25px; }
.COCoG { color: #8bbe4b; font-size: 22px; }
.ilKvI { color: #3e69c9; font-size: 15px; }
.IBIbb { color: #b68cc2; font-size: 16px; }
.OAcKE { color: #896850; font-size: 21px; }