.QZlCm { color: #724062; font-size: 22px; }
.Wghmf { color: #3d95e5; font-size: 17px; }
.dQLOu { color: #e82695; font-size: 25px; }
.nWfzh { color: #78706d; font-size: 16px; }
.sdbbU { color: #db179a; font-size: 10px; }