.UbygV { color: #3741dd; font-size: 23px; }
.cTwLG { color: #7fc07d; font-size: 16px; }
.PVlAz { color: #4aa4f8; font-size: 22px; }
.KgIVZ { color: #7b73b2; font-size: 30px; }
.amFip { color: #8ff0c8; font-size: 26px; }