.EmUGx { color: #9947f1; font-size: 16px; }
.zIDpy { color: #51be6d; font-size: 10px; }
.HROxg { color: #6680d2; font-size: 13px; }
.MjXBz { color: #7d18e6; font-size: 23px; }
.pbFzY { color: #cf4581; font-size: 30px; }