.NrHLe { color: #3c1876; font-size: 19px; }
.Rstni { color: #8c8fdc; font-size: 14px; }
.yUgIO { color: #6a1471; font-size: 30px; }
.klrJc { color: #3788be; font-size: 12px; }
.oOuSA { color: #8f968a; font-size: 29px; }