.MZuda { color: #16f4f9; font-size: 11px; }
.SESNM { color: #6455bc; font-size: 11px; }
.IHSql { color: #548135; font-size: 28px; }
.EmRxt { color: #2df22a; font-size: 29px; }
.HUOHr { color: #20512f; font-size: 17px; }