.dGTHC { color: #049d59; font-size: 24px; }
.dSoaY { color: #271907; font-size: 24px; }
.AvJFR { color: #126d48; font-size: 13px; }
.rMioA { color: #740117; font-size: 29px; }
.IBFZr { color: #744bf2; font-size: 10px; }