.wXRnF { color: #fc2e4d; font-size: 28px; }
.nAgxg { color: #0b6b93; font-size: 23px; }
.zaBsS { color: #d08234; font-size: 25px; }
.FmFub { color: #4cacc4; font-size: 22px; }
.apdPF { color: #67a2e7; font-size: 20px; }