.Ngcqo { color: #7edeae; font-size: 13px; }
.PikPe { color: #04c1e2; font-size: 20px; }
.IrwMy { color: #c2e29e; font-size: 27px; }
.kfchV { color: #d412f1; font-size: 14px; }
.YlObC { color: #25d750; font-size: 11px; }