.JUoAp { color: #2ee495; font-size: 23px; }
.EHNWy { color: #19e3fd; font-size: 30px; }
.XwhQo { color: #a26065; font-size: 18px; }
.EcUca { color: #e86c96; font-size: 11px; }
.huUAR { color: #f26c31; font-size: 23px; }