.mTODM { color: #7c3798; font-size: 20px; }
.RdnGY { color: #5a81bf; font-size: 21px; }
.vBIIK { color: #f002ac; font-size: 28px; }
.yRmAL { color: #fa115c; font-size: 23px; }
.PYEFd { color: #ec1852; font-size: 24px; }