.zmVSV { color: #858481; font-size: 10px; }
.XcgnN { color: #abe262; font-size: 10px; }
.ImjJD { color: #b7d607; font-size: 20px; }
.qkNrY { color: #8bba5f; font-size: 22px; }
.JjVeB { color: #505dc9; font-size: 22px; }