.sfApv { color: #bda0a3; font-size: 22px; }
.rEvzY { color: #ebaa76; font-size: 20px; }
.pvrkL { color: #6eb3fc; font-size: 18px; }
.yMRfm { color: #77267b; font-size: 13px; }
.smBZD { color: #821d0f; font-size: 11px; }