.utgJS { color: #8427a9; font-size: 30px; }
.uGFmb { color: #930d59; font-size: 14px; }
.lTNOm { color: #653fec; font-size: 21px; }
.mzUif { color: #54e200; font-size: 21px; }
.QNcVA { color: #db4463; font-size: 29px; }