.kVphH { color: #d0f6ec; font-size: 23px; }
.YOMTZ { color: #2d9ccb; font-size: 25px; }
.EzDhJ { color: #86207a; font-size: 12px; }
.yotCL { color: #fa1417; font-size: 28px; }
.xOotH { color: #b5b696; font-size: 26px; }