.nAWVX { color: #ab104c; font-size: 25px; }
.Tresj { color: #c30963; font-size: 19px; }
.lHhLB { color: #6ca402; font-size: 18px; }
.lrfSt { color: #c88be1; font-size: 22px; }
.kOotw { color: #127723; font-size: 23px; }