.hAHAA { color: #e07a28; font-size: 27px; }
.dmZEH { color: #a27ec9; font-size: 15px; }
.LOCRV { color: #aa4762; font-size: 22px; }
.egkxC { color: #818c95; font-size: 11px; }
.uNasL { color: #c7ae3a; font-size: 29px; }