.KEqdO { color: #c9193e; font-size: 26px; }
.ZsuzE { color: #12764e; font-size: 19px; }
.DwPbj { color: #e17371; font-size: 10px; }
.GevMb { color: #7b6451; font-size: 18px; }
.ZFccP { color: #f14a02; font-size: 14px; }