.sRANw { color: #486927; font-size: 17px; }
.tkzEq { color: #7f4d8b; font-size: 21px; }
.qLTaZ { color: #20d522; font-size: 27px; }
.AYRTb { color: #e26a33; font-size: 26px; }
.QPSGe { color: #9667b4; font-size: 24px; }