.VNlPO { color: #5bc825; font-size: 26px; }
.dScNo { color: #4491a8; font-size: 22px; }
.NbeLo { color: #0d5b63; font-size: 16px; }
.wjTWd { color: #b778f9; font-size: 28px; }
.HZIKQ { color: #d77a0c; font-size: 20px; }