.uJAeL { color: #ab4f5e; font-size: 23px; }
.GgQuP { color: #1c23e6; font-size: 18px; }
.tmrBB { color: #9f5886; font-size: 19px; }
.BccNG { color: #62a301; font-size: 18px; }
.BpMXb { color: #e3e278; font-size: 10px; }