.CMxQm { color: #fad4ad; font-size: 30px; }
.xTtBn { color: #1cb516; font-size: 24px; }
.wrcrU { color: #d1fb65; font-size: 11px; }
.VritL { color: #51d5e9; font-size: 30px; }
.zQMWT { color: #aa4d37; font-size: 10px; }