.ysyko { color: #028091; font-size: 25px; }
.FucaU { color: #dae733; font-size: 15px; }
.cfpHq { color: #cf90a3; font-size: 19px; }
.ABunL { color: #cdbc87; font-size: 26px; }
.RHAnk { color: #b2bdf6; font-size: 30px; }