.DbntY { color: #18b7e6; font-size: 18px; }
.KHgNB { color: #2536f5; font-size: 19px; }
.YQtJm { color: #7ccb15; font-size: 28px; }
.WHIuT { color: #a3d32a; font-size: 12px; }
.RewSv { color: #5548b4; font-size: 24px; }