.QJpGp { color: #ed81b4; font-size: 27px; }
.fysEG { color: #23220f; font-size: 17px; }
.UtxFX { color: #ca21e9; font-size: 24px; }
.boGuJ { color: #8ba466; font-size: 11px; }
.PFpLI { color: #e935e1; font-size: 14px; }