.oyrrH { color: #441a16; font-size: 18px; }
.lPZVj { color: #95aa1d; font-size: 28px; }
.gMhLR { color: #ade384; font-size: 27px; }
.pwVff { color: #4394c9; font-size: 27px; }
.zQxDY { color: #f56b95; font-size: 17px; }