.OCARV { color: #81ecc6; font-size: 24px; }
.KJXaM { color: #ad3999; font-size: 19px; }
.Beoot { color: #84f551; font-size: 20px; }
.MFQFe { color: #d4a803; font-size: 21px; }
.dsmxf { color: #28c827; font-size: 23px; }