.lQiKu { color: #431bb8; font-size: 23px; }
.sWWXO { color: #ee8b4a; font-size: 21px; }
.pFtPg { color: #c410ed; font-size: 24px; }
.NPRHJ { color: #68dcfb; font-size: 28px; }
.YRBTW { color: #23eeb3; font-size: 16px; }