.mDYiy { color: #f9a9a4; font-size: 12px; }
.MKLCC { color: #e6e748; font-size: 26px; }
.gueOk { color: #501a95; font-size: 22px; }
.czSrf { color: #d6a684; font-size: 17px; }
.WjSFL { color: #5b2353; font-size: 20px; }