.ZxvsY { color: #d112a5; font-size: 27px; }
.cLRsu { color: #5c942d; font-size: 21px; }
.kQsyT { color: #247675; font-size: 24px; }
.KzyxM { color: #aa4f97; font-size: 14px; }
.BQWhh { color: #557d8f; font-size: 17px; }