.NlHBE { color: #f6eb96; font-size: 24px; }
.GnoZS { color: #243d2a; font-size: 16px; }
.LrYZD { color: #2927dd; font-size: 15px; }
.pHiZz { color: #be90e2; font-size: 18px; }
.kpsUf { color: #aafd94; font-size: 16px; }