.xZYEe { color: #7a0229; font-size: 28px; }
.MqgNM { color: #b49609; font-size: 16px; }
.aOhqq { color: #261f5c; font-size: 12px; }
.LxIlQ { color: #c6c4df; font-size: 19px; }
.AxAyY { color: #ba481a; font-size: 15px; }