.NYdiT { color: #9f4560; font-size: 21px; }
.uoCCH { color: #4f125d; font-size: 10px; }
.VfdKP { color: #c633f5; font-size: 14px; }
.DQPtT { color: #9d6353; font-size: 16px; }
.PARSh { color: #ef01eb; font-size: 29px; }