.ewPrm { color: #77ef9d; font-size: 28px; }
.trvJY { color: #cc142f; font-size: 13px; }
.JARbR { color: #af02a9; font-size: 16px; }
.FHdbA { color: #6290e2; font-size: 11px; }
.fGbfH { color: #ef8559; font-size: 22px; }