.CHutF { color: #fbab19; font-size: 17px; }
.QYrMF { color: #9adff3; font-size: 12px; }
.ChRVL { color: #fe6e7c; font-size: 20px; }
.OjnkQ { color: #0dbc08; font-size: 17px; }
.hnPGb { color: #ccf361; font-size: 24px; }