.OHyca { color: #07bb19; font-size: 28px; }
.zSWbp { color: #53fbcf; font-size: 16px; }
.JxAun { color: #f7e32b; font-size: 28px; }
.brCvc { color: #3c26f8; font-size: 10px; }
.jmTSA { color: #130085; font-size: 25px; }