.YMCHQ { color: #9eaaf9; font-size: 28px; }
.chYcu { color: #fef1f4; font-size: 15px; }
.JUtcg { color: #036a1b; font-size: 28px; }
.nOlQP { color: #b06c02; font-size: 24px; }
.yIbLd { color: #29e4ac; font-size: 29px; }