.FCLuI { color: #10e47c; font-size: 22px; }
.UNpof { color: #36ab64; font-size: 25px; }
.rrZrf { color: #21007e; font-size: 24px; }
.laSwa { color: #19295e; font-size: 11px; }
.wQjSl { color: #995a0f; font-size: 12px; }