.YMkre { color: #e64822; font-size: 24px; }
.GTJtV { color: #665462; font-size: 21px; }
.lSofX { color: #ea1f42; font-size: 27px; }
.JTZJW { color: #4f355a; font-size: 19px; }
.qTJHT { color: #9ab2eb; font-size: 27px; }