.ZarJd { color: #1e4b17; font-size: 16px; }
.jWHLK { color: #dc6a21; font-size: 16px; }
.whgbU { color: #6eaca6; font-size: 21px; }
.LhZcs { color: #19cfaf; font-size: 11px; }
.OCvBH { color: #d4eb2d; font-size: 15px; }