.Ffhsv { color: #cc4eac; font-size: 12px; }
.sfWvS { color: #185f6f; font-size: 19px; }
.IOZqF { color: #7647f4; font-size: 19px; }
.LTsYj { color: #bec8ce; font-size: 12px; }
.QXRyT { color: #4ff72a; font-size: 26px; }