.MCCOd { color: #1bf2cb; font-size: 25px; }
.bdVgu { color: #47518e; font-size: 15px; }
.UyWWb { color: #49dc78; font-size: 17px; }
.JxAyH { color: #4ffc10; font-size: 22px; }
.IhGOk { color: #9bed34; font-size: 15px; }