.qIIVc { color: #1c9395; font-size: 30px; }
.cvAtc { color: #68a211; font-size: 30px; }
.NiDfq { color: #9593ed; font-size: 21px; }
.kFBJA { color: #a3f1a5; font-size: 21px; }
.UNXlT { color: #4aac44; font-size: 11px; }