.YicfP { color: #e97391; font-size: 12px; }
.iqpHK { color: #5b284d; font-size: 26px; }
.iXDNE { color: #c53051; font-size: 13px; }
.VDZIm { color: #e7eea4; font-size: 12px; }
.VHrov { color: #b4937d; font-size: 18px; }