.BfqxX { color: #eda74c; font-size: 15px; }
.TdPdH { color: #0b20ea; font-size: 30px; }
.sJHfq { color: #bb8e6c; font-size: 28px; }
.GVnHu { color: #41c7f0; font-size: 28px; }
.GKBwU { color: #e7791d; font-size: 13px; }