.WEHwM { color: #b1264e; font-size: 26px; }
.BtLSP { color: #810ecf; font-size: 28px; }
.eaPGN { color: #2c40f5; font-size: 25px; }
.SSFfz { color: #6ffbaf; font-size: 21px; }
.NPEgs { color: #5eccb2; font-size: 21px; }