.NoFFq { color: #3b9622; font-size: 23px; }
.WNFMj { color: #c2c4c2; font-size: 22px; }
.GEmCN { color: #d6ee3c; font-size: 13px; }
.Kcwgo { color: #393649; font-size: 28px; }
.lvquI { color: #3cf3ce; font-size: 20px; }