.toOwP { color: #5497ee; font-size: 26px; }
.MByqs { color: #04c9dd; font-size: 12px; }
.PcNGS { color: #0bb519; font-size: 17px; }
.GVmXG { color: #218173; font-size: 12px; }
.bKSnm { color: #fb2c06; font-size: 26px; }