.ngNpU { color: #3c3224; font-size: 24px; }
.MPIef { color: #581f10; font-size: 16px; }
.lZyFG { color: #585283; font-size: 12px; }
.HBIvz { color: #40957d; font-size: 13px; }
.PgzHn { color: #8043d7; font-size: 14px; }