.ePrKO { color: #4535b3; font-size: 27px; }
.RkeSR { color: #5c2225; font-size: 21px; }
.ldjnS { color: #f6177b; font-size: 10px; }
.AwCxz { color: #b0bd90; font-size: 30px; }
.VQlQU { color: #cadecd; font-size: 16px; }