.hWgUF { color: #7a38bb; font-size: 11px; }
.xUFBg { color: #9804f3; font-size: 11px; }
.dZtzP { color: #9fbf85; font-size: 26px; }
.bqcpI { color: #d784c6; font-size: 24px; }
.dLzfn { color: #4eb452; font-size: 27px; }