.qxYQJ { color: #847220; font-size: 15px; }
.jBEDh { color: #fcd591; font-size: 28px; }
.lUTXG { color: #571a29; font-size: 29px; }
.mcGFs { color: #6efc3b; font-size: 18px; }
.Mhqyl { color: #1b596f; font-size: 12px; }