.jldWK { color: #20695e; font-size: 25px; }
.wseRB { color: #b26f48; font-size: 20px; }
.UMcos { color: #ae8e0f; font-size: 14px; }
.QxiOI { color: #0c3b12; font-size: 20px; }
.VOIYJ { color: #b942cb; font-size: 25px; }