.sohGe { color: #d390b4; font-size: 14px; }
.megrJ { color: #76814e; font-size: 27px; }
.JDvto { color: #a55b6d; font-size: 30px; }
.bHTOv { color: #94c881; font-size: 25px; }
.PEdmC { color: #c5ffe6; font-size: 23px; }