.xNRtY { color: #7e30d8; font-size: 14px; }
.knOLd { color: #f0f72a; font-size: 11px; }
.PFOex { color: #755c6e; font-size: 23px; }
.ttALM { color: #7318f9; font-size: 16px; }
.hvbzT { color: #754996; font-size: 21px; }