.JWert { color: #6f3e92; font-size: 27px; }
.pvRFn { color: #7d1ff4; font-size: 28px; }
.zDwRV { color: #d29439; font-size: 13px; }
.FJxWm { color: #e1b696; font-size: 15px; }
.avFBC { color: #c291eb; font-size: 26px; }