.CjhyN { color: #571e12; font-size: 24px; }
.aXFso { color: #5d1b94; font-size: 27px; }
.ROCkc { color: #ee39e4; font-size: 16px; }
.RKKMk { color: #a5b52a; font-size: 30px; }
.PQRzL { color: #6d0d3c; font-size: 30px; }