.wbkcx { color: #0ebfcd; font-size: 13px; }
.kthhc { color: #c1436b; font-size: 28px; }
.rExgJ { color: #b1ebbd; font-size: 23px; }
.jYrRs { color: #0a5328; font-size: 19px; }
.cYiUz { color: #e5c7ec; font-size: 23px; }