.EhFyC { color: #3b2cbd; font-size: 14px; }
.lNzsS { color: #e4bcde; font-size: 13px; }
.qCUil { color: #0609cb; font-size: 19px; }
.uWkAl { color: #e0c322; font-size: 22px; }
.CETmH { color: #c05e1f; font-size: 11px; }