.rLGzZ { color: #5c2bb0; font-size: 28px; }
.YMRzg { color: #50bf9d; font-size: 11px; }
.QAztK { color: #1761c9; font-size: 17px; }
.dFEhP { color: #dd515c; font-size: 23px; }
.ZndCk { color: #f6fc1a; font-size: 10px; }