.yAkky { color: #1891ae; font-size: 17px; }
.CIUpw { color: #8cb18a; font-size: 28px; }
.ivcEM { color: #4c3b80; font-size: 26px; }
.tCnhp { color: #880c46; font-size: 14px; }
.nfARY { color: #93faf0; font-size: 30px; }