.nqLMf { color: #65018b; font-size: 11px; }
.wDtaN { color: #3b9745; font-size: 29px; }
.rqZcv { color: #6690c4; font-size: 18px; }
.HHVpr { color: #d4ea0a; font-size: 21px; }
.JTxWr { color: #1fffc7; font-size: 17px; }