.KppgM { color: #221892; font-size: 27px; }
.yaDME { color: #baba1d; font-size: 27px; }
.UNyLd { color: #a86b8d; font-size: 17px; }
.OkuCd { color: #d435a1; font-size: 12px; }
.iZSNH { color: #671e9f; font-size: 22px; }