.cLQuZ { color: #f92552; font-size: 28px; }
.pyyLi { color: #794869; font-size: 21px; }
.ruNQE { color: #4dcdd8; font-size: 23px; }
.LQjcl { color: #5caa50; font-size: 17px; }
.PXgJR { color: #be12f0; font-size: 10px; }