.eSMxv { color: #ffb018; font-size: 23px; }
.WOtqs { color: #577a72; font-size: 30px; }
.FIziZ { color: #7fa60c; font-size: 24px; }
.HvQhd { color: #3f7e87; font-size: 13px; }
.mMDnp { color: #43a428; font-size: 11px; }