.kAfwT { color: #62e2ba; font-size: 18px; }
.PwcxA { color: #7f686c; font-size: 22px; }
.JfnoR { color: #3da17e; font-size: 10px; }
.hMEFf { color: #53c366; font-size: 15px; }
.AqFKc { color: #1f4a08; font-size: 13px; }