.nhoPz { color: #fc16b1; font-size: 19px; }
.bpoJR { color: #f27345; font-size: 27px; }
.qskVU { color: #9ddfd0; font-size: 13px; }
.OehUo { color: #82bc1c; font-size: 30px; }
.YIkWW { color: #d5c333; font-size: 12px; }