.PEWVN { color: #268db8; font-size: 22px; }
.AuVhu { color: #cd52b9; font-size: 11px; }
.Mjroo { color: #5402fd; font-size: 15px; }
.XUOkM { color: #ce9074; font-size: 30px; }
.ifdJb { color: #f84a75; font-size: 27px; }