.IVlBc { color: #c900f6; font-size: 10px; }
.JSQxP { color: #92a5b2; font-size: 24px; }
.TzANJ { color: #1fe5d6; font-size: 22px; }
.NaSiM { color: #9201d0; font-size: 30px; }
.bMBZD { color: #95cf32; font-size: 20px; }