.Wpvhi { color: #71adac; font-size: 13px; }
.UdpTI { color: #ab81d2; font-size: 26px; }
.CuBCH { color: #7983a8; font-size: 22px; }
.pRSKd { color: #db4fa9; font-size: 27px; }
.iVjCn { color: #cffd78; font-size: 17px; }