.WGDhT { color: #4e1fa4; font-size: 23px; }
.VUcuQ { color: #186dc2; font-size: 24px; }
.EMeqN { color: #3a1e82; font-size: 11px; }
.SeAim { color: #d6b586; font-size: 14px; }
.xtjXn { color: #07ac3a; font-size: 17px; }