.vAatc { color: #1c957e; font-size: 30px; }
.CbXeA { color: #69df12; font-size: 24px; }
.fWXnI { color: #1a7cbd; font-size: 18px; }
.lTSth { color: #33d336; font-size: 21px; }
.xEuLg { color: #9db022; font-size: 25px; }