.IMcoP { color: #07dbb4; font-size: 19px; }
.llGPh { color: #ac658a; font-size: 24px; }
.zfyvT { color: #f27428; font-size: 19px; }
.GjyHh { color: #6572dd; font-size: 22px; }
.oOqOX { color: #7fa711; font-size: 21px; }