.pdGQO { color: #5f44b2; font-size: 23px; }
.QOtYO { color: #ada277; font-size: 10px; }
.RtJzd { color: #0a0d4f; font-size: 23px; }
.SmXUh { color: #f11c3c; font-size: 14px; }
.xgdSE { color: #c2d20a; font-size: 14px; }