.HvZhJ { color: #89e286; font-size: 21px; }
.FeGHl { color: #620083; font-size: 22px; }
.cywPv { color: #371480; font-size: 27px; }
.gJXQJ { color: #8acfc6; font-size: 13px; }
.OfatX { color: #c20353; font-size: 14px; }