.fXNlh { color: #14309a; font-size: 24px; }
.uzWih { color: #7f7de9; font-size: 18px; }
.sYcPX { color: #d8efbf; font-size: 29px; }
.hdyWe { color: #b9e0f5; font-size: 21px; }
.BkXBx { color: #bf915f; font-size: 25px; }