.guzNY { color: #7996be; font-size: 23px; }
.EFYme { color: #4dc717; font-size: 26px; }
.KgnJq { color: #eabb7b; font-size: 30px; }
.PyfBr { color: #539044; font-size: 28px; }
.fTprL { color: #1c3f07; font-size: 25px; }