.mqIeF { color: #fa0ebb; font-size: 16px; }
.HmNpz { color: #83138a; font-size: 10px; }
.qgzdO { color: #846b62; font-size: 19px; }
.RoiiQ { color: #783747; font-size: 29px; }
.nbQJH { color: #439490; font-size: 29px; }