.NvNIM { color: #682e04; font-size: 18px; }
.eRBVE { color: #d908a7; font-size: 20px; }
.cVqus { color: #124139; font-size: 13px; }
.SOvSE { color: #f31846; font-size: 11px; }
.zBJvK { color: #ba5b9c; font-size: 16px; }