.AjvGj { color: #f5311d; font-size: 19px; }
.MLbJw { color: #c4ea74; font-size: 27px; }
.NjEUi { color: #705692; font-size: 25px; }
.rXZDU { color: #287541; font-size: 24px; }
.OIezh { color: #5bd2f2; font-size: 19px; }