.FernF { color: #d5a605; font-size: 11px; }
.GGFnx { color: #d3c42a; font-size: 22px; }
.WZoxH { color: #a35f6f; font-size: 13px; }
.RHRit { color: #7e4a4e; font-size: 20px; }
.BFEqu { color: #489870; font-size: 12px; }