.BoGin { color: #210b75; font-size: 14px; }
.sGsBX { color: #649a02; font-size: 25px; }
.GgoOQ { color: #3e9e0a; font-size: 10px; }
.RYcna { color: #aa2a24; font-size: 11px; }
.viIEf { color: #85689c; font-size: 14px; }