.qlDTp { color: #0f163f; font-size: 30px; }
.CVlyQ { color: #6660ce; font-size: 29px; }
.qTNLY { color: #e55a42; font-size: 20px; }
.MeeTe { color: #9fa6f4; font-size: 15px; }
.IgDID { color: #b19247; font-size: 26px; }