.HtDsk { color: #93455c; font-size: 19px; }
.rhinx { color: #ff12a0; font-size: 24px; }
.UUCjV { color: #dcbca4; font-size: 30px; }
.XtWnc { color: #661389; font-size: 21px; }
.KVKrv { color: #79da73; font-size: 15px; }