.pMvlP { color: #ea282b; font-size: 17px; }
.qBkwj { color: #cea706; font-size: 29px; }
.MwWna { color: #a0338e; font-size: 26px; }
.OgvxB { color: #c44ab2; font-size: 11px; }
.jjBEW { color: #1f814b; font-size: 30px; }