.Orfph { color: #3ca166; font-size: 11px; }
.JpebN { color: #da1cf2; font-size: 27px; }
.DtSBS { color: #a11d08; font-size: 20px; }
.gXkSg { color: #37f1fa; font-size: 28px; }
.LOBky { color: #903224; font-size: 14px; }