.VxiQC { color: #1505c0; font-size: 17px; }
.YVsPa { color: #de0da7; font-size: 29px; }
.wBazs { color: #e958d7; font-size: 29px; }
.ocihY { color: #749834; font-size: 19px; }
.CHpbM { color: #2168a6; font-size: 20px; }