.BqxEl { color: #d8f23b; font-size: 21px; }
.TKNZN { color: #9c2e3e; font-size: 23px; }
.LqAaX { color: #f4467a; font-size: 24px; }
.HUndn { color: #ccc7f9; font-size: 23px; }
.MTSQf { color: #d874e1; font-size: 19px; }