.sAuSL { color: #0fb161; font-size: 12px; }
.WOexZ { color: #d2adc5; font-size: 13px; }
.jDTku { color: #cdc864; font-size: 20px; }
.pFxdg { color: #54f47f; font-size: 14px; }
.RgVqZ { color: #d2b4c8; font-size: 24px; }