.SkwUg { color: #b3cb43; font-size: 24px; }
.PHJRJ { color: #f08599; font-size: 12px; }
.UrcHe { color: #5a58c5; font-size: 14px; }
.EfmzI { color: #55f06c; font-size: 18px; }
.nfwjz { color: #78944c; font-size: 11px; }