.KWtZJ { color: #19f00d; font-size: 19px; }
.pUgqP { color: #89ec5d; font-size: 24px; }
.Xhmby { color: #b03238; font-size: 14px; }
.dTdCn { color: #6b8ca8; font-size: 20px; }
.oaujx { color: #1e334b; font-size: 23px; }