.bwFxL { color: #ff2fa2; font-size: 17px; }
.zjXDP { color: #490adc; font-size: 29px; }
.hFbLk { color: #2b3c6d; font-size: 14px; }
.ILKxz { color: #de5776; font-size: 17px; }
.uusEX { color: #a7b126; font-size: 16px; }