.aJmzB { color: #d8e3fa; font-size: 26px; }
.sgPRG { color: #a44947; font-size: 23px; }
.JiPaF { color: #408c02; font-size: 13px; }
.zDlzz { color: #6b2444; font-size: 19px; }
.auear { color: #dfb3b5; font-size: 29px; }