.kBfWP { color: #509576; font-size: 18px; }
.VbnOd { color: #e44ee1; font-size: 30px; }
.exMXV { color: #ade1cb; font-size: 21px; }
.nHfWc { color: #37a27d; font-size: 13px; }
.oHsEi { color: #71dc6d; font-size: 26px; }