.aMIzC { color: #a10ae2; font-size: 12px; }
.wMiAw { color: #c94647; font-size: 26px; }
.tVtJr { color: #02543c; font-size: 13px; }
.svzoA { color: #d0f7cf; font-size: 21px; }
.cpCRL { color: #85b725; font-size: 22px; }