.jfoLj { color: #f6b91d; font-size: 24px; }
.qcRUA { color: #2baa51; font-size: 11px; }
.mRqsG { color: #938a07; font-size: 17px; }
.aAkAK { color: #6a9acb; font-size: 20px; }
.GLdUx { color: #88a54b; font-size: 10px; }