.CLIVY { color: #7cee0b; font-size: 12px; }
.Obxdn { color: #d10877; font-size: 16px; }
.CvWby { color: #7dc8ad; font-size: 19px; }
.QFZFs { color: #2c0ad2; font-size: 29px; }
.pAHpD { color: #ab48b7; font-size: 26px; }