.Febpe { color: #d10b03; font-size: 24px; }
.xAmBk { color: #96859a; font-size: 13px; }
.pEmHj { color: #f4df62; font-size: 26px; }
.JKWPr { color: #3d25d5; font-size: 18px; }
.yUofF { color: #64e5d4; font-size: 23px; }