.Ajtmc { color: #ac1dd1; font-size: 24px; }
.mWumO { color: #1fc24f; font-size: 21px; }
.lGmmb { color: #2d4c51; font-size: 29px; }
.yyZKy { color: #6bad4b; font-size: 26px; }
.DcyXV { color: #edc1e5; font-size: 18px; }