.gDKYd { color: #0b7add; font-size: 13px; }
.kdBOG { color: #8f7954; font-size: 14px; }
.UYaqh { color: #d2168a; font-size: 25px; }
.lpPcC { color: #6268b4; font-size: 10px; }
.zfrXX { color: #676c9e; font-size: 23px; }