.LcMLF { color: #4eeb53; font-size: 20px; }
.cgrxP { color: #05d0d6; font-size: 18px; }
.GVATC { color: #574add; font-size: 27px; }
.pMZCQ { color: #04b433; font-size: 24px; }
.QzoXU { color: #590824; font-size: 16px; }