.JRjyW { color: #531476; font-size: 14px; }
.kMgeK { color: #ee7dc3; font-size: 11px; }
.khHHP { color: #ef94cf; font-size: 11px; }
.nZTwB { color: #620a0c; font-size: 11px; }
.visso { color: #da9b8a; font-size: 29px; }