.gcwbp { color: #f3d9cc; font-size: 26px; }
.OZdTn { color: #f2cb00; font-size: 15px; }
.ZsTKc { color: #76f4bf; font-size: 20px; }
.AIvPU { color: #af0195; font-size: 13px; }
.fAEhH { color: #adc865; font-size: 14px; }