.mQvCX { color: #271b25; font-size: 11px; }
.guZTf { color: #5b22ef; font-size: 11px; }
.jMieu { color: #b84691; font-size: 18px; }
.nyeMN { color: #9f0021; font-size: 11px; }
.OUunn { color: #436c20; font-size: 13px; }