.JERRW { color: #a960a1; font-size: 17px; }
.thuIY { color: #6fb5a6; font-size: 12px; }
.bxINA { color: #3a5224; font-size: 15px; }
.WQQPL { color: #d8035a; font-size: 16px; }
.perBS { color: #3e6f78; font-size: 11px; }