.dPErM { color: #d31b50; font-size: 15px; }
.jsxSb { color: #ca32f4; font-size: 25px; }
.zkeRw { color: #4c9bcd; font-size: 22px; }
.hwRkW { color: #a642d2; font-size: 24px; }
.XOBGU { color: #e4c308; font-size: 14px; }