.KBZOi { color: #67142e; font-size: 27px; }
.aQLEi { color: #337fa7; font-size: 17px; }
.MLVFM { color: #4d2670; font-size: 10px; }
.keeMd { color: #4af67b; font-size: 24px; }
.OzyEO { color: #8df0ec; font-size: 14px; }