.eRFSa { color: #3c8ab8; font-size: 20px; }
.OANTU { color: #b1d325; font-size: 22px; }
.gYsbf { color: #6f5863; font-size: 27px; }
.mmEBU { color: #b2540d; font-size: 26px; }
.GDhFT { color: #51edf8; font-size: 26px; }