.VCyWR { color: #b66b64; font-size: 12px; }
.Nembs { color: #932f47; font-size: 12px; }
.xZlKj { color: #d24792; font-size: 26px; }
.WCjMF { color: #0f7818; font-size: 20px; }
.rjNds { color: #573155; font-size: 11px; }