.JzHbZ { color: #390d83; font-size: 27px; }
.lHlCs { color: #af32ac; font-size: 11px; }
.XsLcb { color: #5952f0; font-size: 15px; }
.FuOdw { color: #2427fb; font-size: 29px; }
.yCpxf { color: #97a9b6; font-size: 15px; }