.rqFYe { color: #c70929; font-size: 24px; }
.mhGNB { color: #e6979b; font-size: 29px; }
.YAGKJ { color: #c73309; font-size: 23px; }
.ZEige { color: #96802c; font-size: 22px; }
.tUNqQ { color: #7e6c14; font-size: 16px; }