.mlcHm { color: #50eb35; font-size: 22px; }
.sPDSl { color: #a14086; font-size: 27px; }
.JokSQ { color: #b770e7; font-size: 27px; }
.VjUVL { color: #9a669a; font-size: 14px; }
.fgdvX { color: #5426a9; font-size: 21px; }