.TOAFe { color: #f4a6a1; font-size: 17px; }
.LyyFF { color: #cbf460; font-size: 25px; }
.pGaLI { color: #256eed; font-size: 23px; }
.MuNUG { color: #4b9824; font-size: 24px; }
.sqtqX { color: #8f1dfb; font-size: 23px; }