.IFmVs { color: #192a6c; font-size: 14px; }
.iZIBb { color: #98159c; font-size: 12px; }
.YVNub { color: #b1f2f7; font-size: 15px; }
.YPyDq { color: #758ae7; font-size: 14px; }
.VHzbR { color: #7b23a0; font-size: 11px; }