.VDQbx { color: #6bf8f5; font-size: 27px; }
.uvGAH { color: #ea9c6c; font-size: 21px; }
.YmdeL { color: #788ee7; font-size: 15px; }
.eBYpl { color: #6ba505; font-size: 12px; }
.CiMKw { color: #54f50e; font-size: 14px; }