.fsacZ { color: #bdcbc2; font-size: 13px; }
.qQjLs { color: #1b6b15; font-size: 27px; }
.YPjcE { color: #40b27a; font-size: 19px; }
.vKVkc { color: #cf56f8; font-size: 13px; }
.iSsDS { color: #e8505b; font-size: 24px; }