.dSjNx { color: #b1d97f; font-size: 12px; }
.PGHvi { color: #96e9bb; font-size: 27px; }
.zTmXW { color: #175801; font-size: 11px; }
.NqodX { color: #cf21ea; font-size: 29px; }
.QcvWf { color: #e2e4b4; font-size: 10px; }