.soUmM { color: #b78bbf; font-size: 25px; }
.PPJzo { color: #6fb99e; font-size: 28px; }
.XsVNW { color: #aad9a1; font-size: 29px; }
.XrWVp { color: #84212f; font-size: 30px; }
.mFIWt { color: #258561; font-size: 14px; }