.TkKmA { color: #6485ea; font-size: 19px; }
.ozduN { color: #3fd803; font-size: 22px; }
.ygwfS { color: #474d98; font-size: 17px; }
.wCRKD { color: #844d03; font-size: 11px; }
.fayyO { color: #6b3f16; font-size: 29px; }