.JeUFV { color: #a494bf; font-size: 26px; }
.rAqHl { color: #ea874f; font-size: 10px; }
.EHJdG { color: #609d0b; font-size: 30px; }
.DwfsX { color: #193ff8; font-size: 24px; }
.KrktP { color: #16a49f; font-size: 20px; }