.LoFWZ { color: #0cc5a2; font-size: 27px; }
.hilZm { color: #eb9114; font-size: 15px; }
.fVltz { color: #1ee01d; font-size: 11px; }
.ONJpP { color: #1b36cd; font-size: 13px; }
.lJPYg { color: #29f444; font-size: 19px; }