.UXDLf { color: #df25d4; font-size: 25px; }
.wVXaU { color: #d1d92f; font-size: 19px; }
.ERGwm { color: #6a5dc1; font-size: 24px; }
.LPwYZ { color: #10ed52; font-size: 27px; }
.dwppQ { color: #2d91b6; font-size: 24px; }