.GevDX { color: #f77f09; font-size: 28px; }
.hCCLT { color: #9b1796; font-size: 23px; }
.rNipS { color: #2a618b; font-size: 21px; }
.yGkcW { color: #bbc991; font-size: 14px; }
.QPuas { color: #c7ca36; font-size: 29px; }