.HFFxb { color: #87aebc; font-size: 20px; }
.cjWkL { color: #c37f16; font-size: 21px; }
.eiahO { color: #58edfc; font-size: 17px; }
.uJbQa { color: #22b0cc; font-size: 17px; }
.aVLZT { color: #19d74f; font-size: 13px; }