.WznUf { color: #d413dd; font-size: 24px; }
.WZhhh { color: #a37339; font-size: 14px; }
.ccvWW { color: #79b726; font-size: 29px; }
.uwBnL { color: #93e618; font-size: 18px; }
.xkGqB { color: #ce6b7f; font-size: 27px; }