.XPOaQ { color: #a87a2c; font-size: 18px; }
.HkUOr { color: #d0f006; font-size: 30px; }
.tLRXE { color: #68d417; font-size: 26px; }
.UreIm { color: #4652cc; font-size: 23px; }
.sqqcO { color: #f872fa; font-size: 17px; }