.nNoil { color: #525061; font-size: 25px; }
.NnHWv { color: #cabd74; font-size: 10px; }
.RiQzU { color: #7255e9; font-size: 20px; }
.FqUyp { color: #e28258; font-size: 13px; }
.yyAxi { color: #813988; font-size: 12px; }