.gWaqo { color: #2afb64; font-size: 29px; }
.nKdxN { color: #5a4607; font-size: 20px; }
.xivlb { color: #9ddcc6; font-size: 27px; }
.usewt { color: #1a26a8; font-size: 17px; }
.kQTOZ { color: #bbb3c0; font-size: 30px; }