.VGvJz { color: #d1367a; font-size: 21px; }
.GgcxC { color: #2992f5; font-size: 30px; }
.rIVnu { color: #fd04f9; font-size: 27px; }
.ZjWWp { color: #c77247; font-size: 29px; }
.PyUNH { color: #6c5fd1; font-size: 19px; }