.BbVmj { color: #f9ace5; font-size: 27px; }
.vaBtB { color: #a3de9c; font-size: 23px; }
.BbhMW { color: #d2c2ef; font-size: 14px; }
.KLnCi { color: #803292; font-size: 26px; }
.VkSOR { color: #2aa2f5; font-size: 11px; }