.rwgpf { color: #942c34; font-size: 21px; }
.cRkkY { color: #5dc149; font-size: 12px; }
.TqBIW { color: #b54ce8; font-size: 24px; }
.qkFuu { color: #9398c2; font-size: 20px; }
.CWRsk { color: #f43ff3; font-size: 28px; }