.ngsjk { color: #9c50d4; font-size: 19px; }
.bnJWZ { color: #b3ba2d; font-size: 24px; }
.ggXuH { color: #145d9d; font-size: 25px; }
.WZlQX { color: #8f2448; font-size: 29px; }
.uhChi { color: #e62c6a; font-size: 28px; }