.hYPtW { color: #1aa6e8; font-size: 14px; }
.VBsYE { color: #6a994e; font-size: 11px; }
.TkbAU { color: #e2a230; font-size: 22px; }
.ZAWww { color: #87cf0e; font-size: 10px; }
.eAfWJ { color: #0c2fc4; font-size: 29px; }