.OWJwM { color: #3db0fc; font-size: 28px; }
.dhzse { color: #3937cb; font-size: 20px; }
.WQUkV { color: #995972; font-size: 24px; }
.JzsSP { color: #e68f8e; font-size: 12px; }
.eXMAc { color: #0e6581; font-size: 22px; }