.KdAlq { color: #46cb96; font-size: 16px; }
.biJsf { color: #634cba; font-size: 25px; }
.jTaKU { color: #d38b44; font-size: 14px; }
.OQQxk { color: #7ff2a2; font-size: 26px; }
.ECIfO { color: #50c65c; font-size: 26px; }