.QHSSb { color: #96e531; font-size: 26px; }
.GJfJk { color: #25fbc9; font-size: 19px; }
.cyBsf { color: #2b73ff; font-size: 25px; }
.BWkaO { color: #78df70; font-size: 28px; }
.XxWjs { color: #af7ceb; font-size: 20px; }