.rqfwI { color: #05116c; font-size: 19px; }
.KpqAg { color: #f626b1; font-size: 17px; }
.LgqAI { color: #a5b78a; font-size: 26px; }
.cVGYA { color: #23c4f5; font-size: 13px; }
.uPmsk { color: #5b8072; font-size: 21px; }