.OCtkW { color: #87d74f; font-size: 26px; }
.kEYUw { color: #1e66d4; font-size: 15px; }
.lCPAB { color: #151dac; font-size: 13px; }
.EZZLv { color: #dfd91d; font-size: 15px; }
.yXNqT { color: #eb3e75; font-size: 17px; }