.ViHZK { color: #8f4f3f; font-size: 26px; }
.NfiXj { color: #446338; font-size: 12px; }
.JnoaB { color: #18d9e0; font-size: 25px; }
.LnItY { color: #994863; font-size: 29px; }
.jhlEy { color: #4b1584; font-size: 25px; }