.fXvYu { color: #5ee681; font-size: 26px; }
.SnMHf { color: #81ee6d; font-size: 22px; }
.WwDYW { color: #53be23; font-size: 29px; }
.sSHvd { color: #926fce; font-size: 20px; }
.WujBZ { color: #9b459b; font-size: 21px; }