.GWLDr { color: #0d5ce8; font-size: 21px; }
.jqOQe { color: #a04eea; font-size: 27px; }
.qcWcc { color: #8111f5; font-size: 29px; }
.XsDDs { color: #19a5d5; font-size: 27px; }
.DekOW { color: #bf2c20; font-size: 17px; }