.DQWLF { color: #5212de; font-size: 19px; }
.SwJGH { color: #e02924; font-size: 29px; }
.OLkgG { color: #02c813; font-size: 30px; }
.aSffZ { color: #fedc5a; font-size: 16px; }
.cTNEO { color: #529a9c; font-size: 22px; }