.JfsIK { color: #363a20; font-size: 13px; }
.kTvfe { color: #b960f7; font-size: 13px; }
.dujhY { color: #60a317; font-size: 22px; }
.ZfHNo { color: #358b91; font-size: 27px; }
.IYyZP { color: #d6fbd1; font-size: 21px; }