.xxZQL { color: #d5d533; font-size: 20px; }
.OwjVA { color: #f5fd5e; font-size: 17px; }
.PuAMR { color: #daf720; font-size: 29px; }
.TfJHR { color: #972e38; font-size: 18px; }
.zkuMu { color: #bc5d3d; font-size: 24px; }