.IJpnB { color: #637a8f; font-size: 29px; }
.TQzuh { color: #39fe87; font-size: 24px; }
.kCTzQ { color: #3088b6; font-size: 12px; }
.KJilM { color: #2c9d29; font-size: 26px; }
.RpLRq { color: #238f2e; font-size: 21px; }