.CzkWj { color: #311ff2; font-size: 14px; }
.HAepy { color: #a9cb44; font-size: 24px; }
.sLGBk { color: #7958f6; font-size: 22px; }
.ycDta { color: #851ebd; font-size: 25px; }
.XhqOX { color: #c29715; font-size: 24px; }