.bJuai { color: #5106f3; font-size: 29px; }
.qWeDj { color: #afd83e; font-size: 11px; }
.bpASF { color: #6e55cf; font-size: 30px; }
.tchVc { color: #0c042d; font-size: 16px; }
.tkffB { color: #dae90a; font-size: 30px; }