.tyHCb { color: #c1af42; font-size: 10px; }
.lZcra { color: #0b3cdb; font-size: 10px; }
.PdFEk { color: #cc3572; font-size: 16px; }
.LmjCX { color: #a8a0f5; font-size: 17px; }
.LiWCY { color: #83859d; font-size: 17px; }