.RKjpW { color: #02a544; font-size: 16px; }
.eBJqu { color: #43db3a; font-size: 10px; }
.EGijj { color: #b3787f; font-size: 16px; }
.iHkWa { color: #b5b247; font-size: 23px; }
.uVYjH { color: #cd41e5; font-size: 22px; }