.Acwlz { color: #1957ca; font-size: 29px; }
.XtFjg { color: #9e385a; font-size: 10px; }
.PUlXv { color: #48f782; font-size: 20px; }
.SVDGn { color: #8ad80f; font-size: 13px; }
.ptMHP { color: #f762ed; font-size: 20px; }