.DrnCz { color: #e730ae; font-size: 20px; }
.pqnSq { color: #d7ed4b; font-size: 28px; }
.uXTje { color: #7f489e; font-size: 27px; }
.rEonm { color: #bc1bc8; font-size: 24px; }
.Bemrp { color: #e20ea5; font-size: 26px; }