.xuwJr { color: #0f0293; font-size: 24px; }
.glFXx { color: #019bd3; font-size: 11px; }
.zwMeO { color: #8a0b39; font-size: 26px; }
.rMRKK { color: #676898; font-size: 21px; }
.kFeEY { color: #690baf; font-size: 15px; }