.UpyNf { color: #d37cca; font-size: 26px; }
.YrQtx { color: #1e6845; font-size: 28px; }
.UNlAt { color: #e3f90f; font-size: 18px; }
.AihNy { color: #9e7d54; font-size: 11px; }
.XuKAs { color: #ac7b62; font-size: 22px; }