.opUuA { color: #2c5983; font-size: 30px; }
.KwYfB { color: #c75209; font-size: 27px; }
.IiZHf { color: #523b47; font-size: 19px; }
.GAypp { color: #b63bfb; font-size: 10px; }
.DDlLu { color: #5da297; font-size: 22px; }