.TMNUS { color: #a336f4; font-size: 25px; }
.aSwki { color: #236420; font-size: 25px; }
.icfGG { color: #3abe67; font-size: 12px; }
.Iixbo { color: #2d2113; font-size: 13px; }
.NaSLg { color: #5a63fb; font-size: 18px; }