.HVyop { color: #d09533; font-size: 13px; }
.vhiva { color: #87bede; font-size: 13px; }
.aCBbm { color: #87194c; font-size: 27px; }
.dpndq { color: #315be9; font-size: 30px; }
.IQmTG { color: #3db64c; font-size: 29px; }