.RmiOQ { color: #8b845f; font-size: 10px; }
.NEoWb { color: #f47720; font-size: 23px; }
.dLEXr { color: #e7ed37; font-size: 26px; }
.mMoMF { color: #ad26be; font-size: 29px; }
.sQHVh { color: #e31a3a; font-size: 30px; }