.phdWT { color: #8e48ee; font-size: 17px; }
.WHcMo { color: #cebeb0; font-size: 19px; }
.SRXMM { color: #dd995f; font-size: 15px; }
.iWXBc { color: #3a76d6; font-size: 16px; }
.WHRIt { color: #752491; font-size: 12px; }