.fJEcN { color: #30aa23; font-size: 28px; }
.Mhheq { color: #cb4221; font-size: 25px; }
.HyTdj { color: #c0638e; font-size: 19px; }
.xgoyz { color: #8c9153; font-size: 28px; }
.CLHgG { color: #9c5ac3; font-size: 13px; }