.IdRza { color: #b44b81; font-size: 18px; }
.iLQsZ { color: #2e6188; font-size: 28px; }
.RdmDP { color: #ee2069; font-size: 22px; }
.kEQfl { color: #f0a5ed; font-size: 17px; }
.PCgTF { color: #93a694; font-size: 11px; }