.AOScq { color: #01584e; font-size: 30px; }
.sjOnA { color: #743aa0; font-size: 28px; }
.tIVHy { color: #196437; font-size: 16px; }
.iYKBg { color: #f9962c; font-size: 27px; }
.MsMpU { color: #6e13d1; font-size: 11px; }