.NAzJv { color: #3e0403; font-size: 20px; }
.KoJwF { color: #5b13e2; font-size: 29px; }
.IJZNH { color: #b91943; font-size: 15px; }
.gOvgH { color: #0200e3; font-size: 23px; }
.agirq { color: #57f54b; font-size: 30px; }