.vcjwA { color: #8d0bf0; font-size: 21px; }
.JxcDZ { color: #c70145; font-size: 28px; }
.SuhCe { color: #a907d1; font-size: 13px; }
.BJQmz { color: #de6c7b; font-size: 15px; }
.BMiwe { color: #c40c1c; font-size: 10px; }