.XSKAJ { color: #ab0f05; font-size: 30px; }
.ywDMF { color: #646f91; font-size: 27px; }
.mWJuD { color: #7812cf; font-size: 17px; }
.EKcWu { color: #51aedc; font-size: 14px; }
.hxTRg { color: #2cf4d5; font-size: 22px; }