.RLzgs { color: #5b4c35; font-size: 20px; }
.JeeaY { color: #6bbe2d; font-size: 11px; }
.LMLsc { color: #091346; font-size: 15px; }
.fkXQR { color: #d2fbdb; font-size: 14px; }
.shAYf { color: #ab7c99; font-size: 14px; }