.kJxCo { color: #3581f0; font-size: 10px; }
.Hdkry { color: #918dfa; font-size: 22px; }
.COSII { color: #5a2622; font-size: 12px; }
.wOXGu { color: #53a0a7; font-size: 29px; }
.rGTxT { color: #ca272d; font-size: 15px; }