.jrQJI { color: #b2e6d3; font-size: 19px; }
.Qpxel { color: #9fb991; font-size: 27px; }
.yWYAv { color: #dd3494; font-size: 13px; }
.mCOFR { color: #5173cc; font-size: 10px; }
.rvIFj { color: #acfff1; font-size: 20px; }