.nTXJL { color: #fb5844; font-size: 25px; }
.xjNOv { color: #68fe79; font-size: 12px; }
.fpjuv { color: #f3f74e; font-size: 11px; }
.NOQGF { color: #28db75; font-size: 23px; }
.TCINj { color: #a31aa2; font-size: 19px; }