.yDsNJ { color: #7394f0; font-size: 20px; }
.DkJfx { color: #bf207d; font-size: 27px; }
.drQYf { color: #814756; font-size: 17px; }
.aqsLX { color: #adef0b; font-size: 20px; }
.ohVOf { color: #01e43c; font-size: 17px; }