.xokxi { color: #3ae152; font-size: 18px; }
.vqDfW { color: #137758; font-size: 20px; }
.pqmBl { color: #75f2f7; font-size: 30px; }
.FQYxs { color: #bded2e; font-size: 10px; }
.NsHWr { color: #03c444; font-size: 26px; }