.ksQoG { color: #d1fc0f; font-size: 13px; }
.iEmEX { color: #de5619; font-size: 25px; }
.zijJV { color: #c8dc72; font-size: 22px; }
.fjSlq { color: #66a9c7; font-size: 20px; }
.KSKMU { color: #81347a; font-size: 11px; }