.uFVOp { color: #2379cb; font-size: 22px; }
.BmMCw { color: #07138e; font-size: 14px; }
.DLRal { color: #198dfc; font-size: 30px; }
.BGMBD { color: #a91e81; font-size: 20px; }
.TZUeD { color: #623205; font-size: 26px; }