.zzWMV { color: #3a42d7; font-size: 25px; }
.ndXrW { color: #26c045; font-size: 12px; }
.oxZeY { color: #2559de; font-size: 25px; }
.UKaoj { color: #515483; font-size: 21px; }
.Sfirx { color: #fe76c2; font-size: 24px; }