.FkWuG { color: #136f08; font-size: 27px; }
.xiAvd { color: #030b10; font-size: 12px; }
.nROtq { color: #b62144; font-size: 23px; }
.vuwgQ { color: #ba7e9a; font-size: 29px; }
.cXdUc { color: #a36752; font-size: 22px; }