.hOLCM { color: #befe8e; font-size: 17px; }
.njuzy { color: #55983e; font-size: 30px; }
.ENiBt { color: #f96ab7; font-size: 25px; }
.kDzNt { color: #8256fb; font-size: 24px; }
.UnWHt { color: #ed1a8d; font-size: 24px; }