.GZJXM { color: #a4b2d4; font-size: 19px; }
.IJEXv { color: #8b4bf5; font-size: 27px; }
.mFtjn { color: #3b15d0; font-size: 27px; }
.xDulp { color: #ec5ac9; font-size: 15px; }
.AOihM { color: #244a7e; font-size: 23px; }