.Jxooc { color: #95c206; font-size: 13px; }
.drwyg { color: #6b80d2; font-size: 24px; }
.CFvVh { color: #88e192; font-size: 20px; }
.cXbgO { color: #7f8ab1; font-size: 21px; }
.FJknA { color: #6364fe; font-size: 16px; }