.JagUs { color: #4874a5; font-size: 17px; }
.GiHZv { color: #8c0d9f; font-size: 25px; }
.jPPgv { color: #bb6355; font-size: 14px; }
.wEcxJ { color: #f960ec; font-size: 12px; }
.PLHih { color: #73acfd; font-size: 24px; }