.uzKUZ { color: #828174; font-size: 29px; }
.vqchY { color: #687998; font-size: 27px; }
.NhZnG { color: #55e392; font-size: 28px; }
.jypqX { color: #e5ae55; font-size: 11px; }
.XnDNI { color: #4e049a; font-size: 15px; }