.fRkxu { color: #9d216d; font-size: 21px; }
.nCcBM { color: #19c148; font-size: 27px; }
.azBWG { color: #782e57; font-size: 19px; }
.OktdG { color: #f19bc0; font-size: 10px; }
.cjBTl { color: #5e5efb; font-size: 30px; }