.UyAKY { color: #bcd48b; font-size: 27px; }
.Ptpiy { color: #726a5e; font-size: 23px; }
.snSNa { color: #a71b30; font-size: 18px; }
.GuTWo { color: #4a4815; font-size: 10px; }
.vJwqm { color: #dc9887; font-size: 20px; }