.rXZDH { color: #e4bc1f; font-size: 13px; }
.kEzjo { color: #40c3db; font-size: 25px; }
.MtmUD { color: #993720; font-size: 29px; }
.DHAWB { color: #f713f7; font-size: 23px; }
.Dsceh { color: #e77f2d; font-size: 23px; }